[Unit]
        Description=Kubernetes Controller Manager
        Documentation=https://github.com/kubernetes/kubernetes
        After=download-kube.service
        Requires=download-kube.service
        [Service]
        ExecStart=/opt/bin/kube-controller-manager \
          --cluster-cidr=__POD_NETWORK__ \
          --master=127.0.0.1:8080 \
          --leader-elect=true \
          --service-account-private-key-file=/etc/ssl/kube/ca-key.pem \
          --cluster-signing-cert-file=/etc/ssl/kube/ca.pem \
          --cluster-signing-key-file=/etc/ssl/kube/ca-key.pem \
          --root-ca-file=/etc/ssl/kube/ca.pem \
          --address=0.0.0.0 \
          --cluster-name=__CLUSTER_NAME__ \
          --feature-gates=RotateKubeletServerCertificate=true \
          --controllers=*,bootstrapsigner,csrapproving \
          --v=2
        Restart=on-failure
        RestartSec=5

        [Install]
        WantedBy=multi-user.target